In [25]:
import datetime
import requests
import _strptime
def crawl_one_symbol(symbol, start_date, end_date):
        API_VNDIRECT = 'https://finfo-api.vndirect.com.vn/v4/stock_prices/'
        query = 'code:' + symbol + '~date:gte:' + start_date + '~date:lte:' + end_date
        delta = datetime.datetime.strptime(end_date, '%Y-%m-%d') - datetime.datetime.strptime(start_date, '%Y-%m-%d')
        params = {
            "sort": "date",
            "size": delta.days + 1,
            "page": 1,
            "q": query
        }
        res = requests.get(API_VNDIRECT, params=params)
        data = res.content
        return data

In [28]:
crawl_one_symbol('WWS', "2022-12-20", "2022-12-28")

b'Access Denied'

In [29]:
!pip install vnstock
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting vnstock
  Downloading vnstock-0.1.2-py3-none-any.whl (15 kB)
Installing collected packages: vnstock
Successfully installed vnstock-0.1.2
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/canada/.local/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in /home/canada/.local/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/canada/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [30]:
from vnstock import *

In [31]:
listing_companies()

,ticker,group_code,company_name,company_short_name
0,VVS,UpcomIndex,Công ty Cổ phần Đầu tư Phát triển Máy Việt Nam,Đầu tư Phát triển Máy Việt Nam
1,XDC,UpcomIndex,Công ty TNHH MTV Xây dựng Công trình Tân Cảng,Xây dựng Công trình Tân Cảng
2,HSV,UpcomIndex,Công ty Cổ phần Gang Thép Hà Nội,Gang Thép Hà Nội
3,CST,UpcomIndex,Công ty Cổ phần Than Cao Sơn - TKV,Than Cao Sơn - TKV
4,BVL,UpcomIndex,Công ty Cổ phần BV Land,BV Land
...,...,...,...,...
1622,XMP,UpcomIndex,Công ty Cổ phần Thủy điện Xuân Minh,Thủy điện Xuân Minh
1623,YBC,UpcomIndex,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,Xi măng và Khoáng sản Yên Bái
1624,YBM,VNINDEX,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Khoáng sản CN Yên Bái
1625,YEG,VNINDEX,Công ty Cổ phần Tập đoàn Yeah1,Tập đoàn Yeah1
1626,YTC,UpcomIndex,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,XNK Y tế TP.HCM

In [32]:
#tom tat thong tin co ban
ticker_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ngân hàng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,3.1,-0.053,0.091,-0.147,3517.2,3517.2,NH,TCB

In [33]:
#tra cuu du lieu lich su
df =  stock_historical_data(symbol='GMD', start_date="2021-01-01", end_date='2022-09-22')

In [34]:
df

        Open     High      Low    Close   Volume TradingDate
0    31393.0  32344.0  31203.0  31488.0  4226500  2021-01-04
1    31488.0  32773.0  31155.0  32154.0  4851900  2021-01-05
2    32535.0  32535.0  31488.0  31774.0  3641300  2021-01-06
3    32059.0  32820.0  30917.0  32344.0  5753700  2021-01-07
4    32725.0  33106.0  31869.0  32249.0  4587500  2021-01-08
..       ...      ...      ...      ...      ...         ...
423  48287.0  48287.0  47702.0  47800.0   700800  2022-09-16
424  47653.0  47800.0  45653.0  45849.0  1317200  2022-09-19
425  46580.0  46824.0  45897.0  46824.0   697300  2022-09-20
426  46141.0  47019.0  46141.0  46775.0   669800  2022-09-21
427  46336.0  47946.0  46336.0  47800.0   512800  2022-09-22

[428 rows x 6 columns]

In [35]:
#so sanh
price_board('TCB,SSI,VND')

,Mã CP,Giá Khớp Lệnh,KLBD/TB5D,T.độ GD,KLGD ròng(CM),%KLGD ròng (CM),RSI,MACD Volume,MACD Signal,Tín hiệu KT,...,Khối lượng Dư mua,Khối lượng Dư bán,Khớp nhiều nhất,seq,vnid3d,vnid1m,vnid3m,vnid1y,vnipe,vnipb
0,TCB,26150.0,0.66,1.57,-151400,-21.8,46.267433,-0.37,Sell,Neutral,...,316200,91400,26000,1672214340,-1.5,3.4,-14.5,-32.0,10.6099,1.53699
1,SSI,18150.0,0.65,0.85,-245100,-20.2,47.169475,-0.37,Neutral,Neutral,...,339400,1302500,18100,1672214340,-1.5,3.4,-14.5,-32.0,10.6099,1.53699
2,VND,14100.0,0.58,1.10,130000,5.3,50.726229,-0.25,Neutral,Buy,...,187700,406300,13950,1672214340,-1.5,3.4,-14.5,-32.0,10.6099,1.53699

In [36]:
#giao dich trong ngay
stock_intraday_data(symbol='GMD', page_num=0, page_size=5000)

,price,volume,cp,rcp,a,ba,sa,hl,pcp,time
0,45550.0,30500,-350.0,0.0,,168500.0,118900.0,False,-250.0,14:45:17
1,45800.0,200,-100.0,0.0,SD,168500.0,118900.0,False,-50.0,14:28:42
2,45850.0,300,-50.0,0.0,SD,168500.0,118000.0,False,-150.0,14:26:16
3,45850.0,100,-50.0,0.0,SD,168500.0,118100.0,False,0.0,14:26:16
4,45850.0,100,-50.0,0.0,SD,168500.0,118700.0,False,0.0,14:26:16
...,...,...,...,...,...,...,...,...,...,...
254,46000.0,500,100.0,0.0,BU,3500.0,0.0,False,0.0,09:36:43
255,46000.0,500,100.0,0.0,BU,500.0,0.0,False,450.0,09:36:29
256,46000.0,100,100.0,0.0,BU,600.0,0.0,False,0.0,09:36:29
257,46000.0,2400,100.0,0.0,BU,3000.0,0.0,False,0.0,09:36:29
258,45550.0,3300,-350.0,0.0,,0.0,0.0,False,0.0,09:15:16